.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 74px;
}
.form-row{
  display: flex;
  gap: 40px;

}
.form-column{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
h2{
  align-self: flex-start;
  color: #18A4E1;
  font-family: FiraGO;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group input,select{
  width: 480px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #ECF2F8;
padding-left: 15px;
}
.form-group label{
  margin-left: 20px;
  color: #053354;
font-family: FiraGO;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.form-group-submit-button{
  width: 486px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 31px;

}
.form-group-submit-button button{
  width: 180px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #053354;
  color: #FFF;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px;
  cursor: pointer;
}


.custom-file-input {
  position: relative;
  display: inline-block;
  align-content: flex-end;
  width: 480px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
border: 1px solid #ECF2F8;
}

.custom-file-input input[type="file"] {
  width: 480px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: transparent; /* Hides the "No file chosen" text */
}

.custom-file-input input[type="file"]::file-selector-button {
  display: none; /* Hides the default file selection button */
}

.custom-file-input img {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Ensures the icon doesn't block input interaction */
}
