<div class="hero-section">
  <img src="img/clinic-photo.png" alt="clinic-photo">
  <div class="blur-overlay">
    <div class="content">
      <h1>აირჩიე კლინიკა, რომელსაც<br> შეგიძლია ენდო</h1>
      <button class="location-button">
        <img src="img/location-svgrepo-com (1) 2.png" alt="Location Icon" />
        იაკობ ნიკოლაძის №10
      </button>
    </div>
  </div>
</div>

<div class="main-page">
  <div class="category-list"><app-category-list (showMoreChange)="onShowMoreChange($event)"></app-category-list></div>
    <div class="doctors-list"><app-doctors [show_more_btn]="show_more_btn"></app-doctors></div>
    <div *ngIf="doctor_not_found" class="not-found">
      <img src="img/PngItem_5585968.png" alt="not found">
      <h1>ექიმი ამ სახელით ან სპეციალობით ვერ მოიძებნა</h1>   
    </div>
</div>
  