<div class="nav">
<div class="admin-nav">
    <img src="img/menu.png" alt="menu">
    <a (click)="onNavClick('register')" [ngClass]="{'active-link': activeTab === 'register'}">რეგისტრაცია</a>
    <a (click)="onNavClick('category')" [ngClass]="{'active-link': activeTab === 'category'}">კატეგორიები</a>
    <a (click)="onNavClick('doctors')" [ngClass]="{'active-link': activeTab === 'doctors'}">ექიმები</a>
</div>
<div class="nav-btn">
    <button>ექიმი</button>
    <button>მომხმარებელი</button>
    <button>ადმინისტრატორი</button>
</div>
</div>