<app-admin-nav></app-admin-nav>
<div class="admin-page">
    <!-- Admin Navigation -->
    <!-- Conditional Components -->
    <div *ngIf="doctors_clicked" class="other-component">
        <app-category-list (showMoreChange)="onShowMoreChange($event)"></app-category-list>
        <app-doctors [show_more_btn]="show_more_btn"></app-doctors>
        <div *ngIf="doctor_not_found" class="not-found">
            <img src="img/PngItem_5585968.png" alt="not found">
            <h1>ექიმი ამ სახელით ან სპეციალობით ვერ მოიძებნა</h1>
        </div>
    </div>

    <div *ngIf="category_cliked">
        <app-category></app-category>
    </div>

    <div *ngIf="register_cliked">
        <app-doctor-register></app-doctor-register>
    </div>
</div>
